

@model mystartupxd.Models.AddItemViewModel

@{
    ViewData["Title"] = "AddProduct";
}

<h4><strong>Agregar Producto a la Orden</strong></h4>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" asp-items="Model.Products" class="form-control"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                </button>
                <a asp-action="Index" class="btn btn-success"><i class="fas fa-undo-alt"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

